body {
    font-family: 'Gugi', cursive;
}

#logo {
    width: 150px;
    margin: 0 auto;
}

#logo h3 {
    display: inline-block;
    margin-left: 20px;
    font-size: 1.4em;
}

#logo_chicken {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}


#inscription {
    padding: 5%;
}
#inscription form {
    margin: 0 auto;
     width: 190px;  
    text-align: center;
}
#inscription form a {
    text-align: left;
    font-size: 0.7em;
    color: #000;
    text-decoration: none;
}
#inscription form input {
   height: 30px;
    width: 190px;
    border-radius: 3px;
    margin-top: 0.45em;
    margin-bottom: 0.45em;
}
#inscription form input[type=submit]{
    font-family: 'Gugi', cursive;
    background-color: #FADC61;
    border: none;
    border-radius: 3;
    font-size: 0.8em;
    width: 60%;
    margin-top: 10px;
}

#formulaire
{
    padding: 5%;
}
#formulaire form
{
    margin: 0 auto;
    width: 400px;
}

#formulaire form select
{
    height: 30px;
    width: 190px;
    border-radius: 3px;
    margin-top: 0.45em;
    margin-bottom: 0.45em;
}

#formulaire form input
{
    height: 30px;
    width: 190px;
    border-radius: 3px;
    margin-top: 0.45em;
    margin-bottom: 0.45em;
}

#table 
{
    margin-left: auto;
    margin-right: auto;
}

#formulaire form input[type=submit]
{
    text-align: center;
    font-family: 'Gugi', cursive;
    background-color: #fadc61;
    border: none;
    border-radius: 3;
    font-size: 0.8em;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
